
<header>Signup your interested activity and see who would come too.</header> 
<ul class='activities'>
  <li *ngFor="let act of activityList" (click)="showDetail(act.id, $event)" [class.expand]="act.id==detailId">
        {{act.name}} 
        <button (click)="signup(act.id, $event)" class='btn-signup'>Sign Up</button>
        <button class='detail' (click)="showDetail(act.id, $event)">...</button> 
    <div class='detail' [hidden]="act.id!==detailId">{{act.detail}}</div>
  </li>
</ul>