ul.activities {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 100px);
    min-height: 300px;
}
li {
    height: 38px;
    list-style: none;
    line-height: 38px;
    width: 100%;
    padding-left:10px;
    padding-right: 10px;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
li.expand {
    height:initial;
}
li:hover , li:first-of-type:hover {
    border: 1px solid #165588;
    color:#165588 ;
}
li:first-of-type{
    border-top: 1px solid #bbb;
}
button.btn-signup{
    float: right;
    margin-right: 20px;
    margin-top:5px;
    height: 26px;
    border-radius: 5px;
    width: 70px;
}
button.detail {
    float: right;
    margin-top:5px;
    margin-right: 8px;
    height: 26px;
    border-radius: 10px;
    width: 40px;
}
div.detail{
    margin:5px;
    font-style: italic;
    border: 1px solid #ccc;
    width: calc(100% - 45px);
    border-radius: 5px;
    padding: 7px;
    background: #eee;
}