( This is not part of application, it's a datatool to insert activity data)

<input name='name'  type="text" required [(ngModel)]="newActivityName" placeholder="activity name" />
<input name='detail' type="text" required [(ngModel)]="newActivityDetail" placeholder="activity detail" />
<button (click)="createActivity()">Create Activity</button>
<hr/>
<div>Current Activities:</div>
<div>  
    <span *ngFor="let act of activities; let i = index">{{i!=0?", ":" "}} {{act.name}}</span>
</div>
