input[type=text] {
    width: calc(100% - 20px);
    height: 26px;
    margin: 4px 0;
    padding: 0 7px;
}
button {
    width: 200px;
    height: 28px;
    border-radius: 16px;
    background: rgb(7, 117, 180);
    color:white;
    text-align: center;
    margin-left: calc(50% - 100px);
}