
<div class='signup-form'>
 <header [hidden]="isDone">Tell us a little bit about you</header>
 <form (ngSubmit)="signupSubmit($event)" [hidden]="isDone" #signupForm="ngForm">
   <table>
    <tr>
      <td>
        <input type='text' name="firstName" [(ngModel)]="signup.firstName" required placeholder="Your first name"/>
      </td>
      <td>*</td>
    </tr>
    <tr>
      <td>
        <input type='text' name='lastname' [(ngModel)]="signup.lastName" required  placeholder="Your last name"/>
      </td>
      <td>*</td>
    </tr>
    <tr>
      <td>
        <input type="email" name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="signup.email" required placeholder="Your email"/>
      </td>
      <td>*</td>
    </tr>
    <tr>
      <td>

        <textarea placeholder="We would like to hear from you." [(ngModel)]="signup.comment" name="comment"></textarea>
      </td>
      <td></td>
    </tr>
   </table>
   <button (click)="signupSubmit($event)" id='signup'>I decided to signup</button>
  </form>
  <div *ngIf="isDone" class='signupusers'>
    A confirmation link is sent to your email for verification. <br/>
    Here are all the users that signed up  <b>{{activity}}</b>, see you there! <br/>
    <div class='user-list'>
       <span *ngIf="signupUsers.length==0">
         Oh, you are the first one. Spread the news, invite your friends:)
       </span>
       <span class='user' *ngFor="let user of signupUsers; let i = index">{{i!=0?", ":" "}}{{user.firstName}} {{user.lastName}}</span>
    </div>
  </div>
</div>


