* {
    margin: 10px;
}
form {
    width: calc(100% -30px);
}
table {
    width: 100%;
}
input[type=text], input[type=email] {
    border-radius: 5px;
    border: 1px solid #ccc;
    line-height: 22px;
    height: 22px;
    padding: 2px 7px;
    width: calc(100% - 20px);
    margin: 5px 0;
}
td {
    padding: 0;
    margin: 0;
}
tr {
    padding: 0;
}
textarea {
    margin: 0;
    width: calc(100% - 10px);
    min-height: 150px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ccc;
}
button#signup {
    width: 200px;
    height: 28px;
    border-radius: 16px;
    background: rgb(7, 117, 180);
    color:white;
    text-align: center;
    margin-left: calc(50% - 100px);
  
}
span.user {
    margin: 0;
}
div.user-list{
   margin: 0;
   margin-top:30px;

}
/*ng-dirty ng-touched ng-invalid*/
input.ng-invalid.ng-dirty.ng-touched{
    border: 1px solid red;
}
