/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow:hidden;
}
header {
    margin-left:10px;
    margin-bottom: 20px;
}